html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

.red {
  color: #8f2440;
  font-family: "PT Sans", sans-serifs;
}

ol > li:nth-of-type(1) {
  color: #2694d8;
}

p:last-of-type {
  font-style: italic;
}

nav ol li {
  list-style-type: none;
}

a {
  font-size: 1.125rem;
  color: #8f2440;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

figure figcaption {
  font-size: .8rem;
  font-style: italic;
  font-weight: normal;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  text-align: left;
  font-weight: lighter;
}

cite {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: left;
}

footer > a[href="http://wikipedia.com/beetroot"] {
  color: #8f2440;
}
